<div class="wrapper">
    <!-- veiw encapsulation start-->
    <div style="margin: 20px auto; width: 780px;">
        <div class="app-component">
            <h2>App component</h2>
            <p>This is <b>app</b> component.</p>
            <button>button</button>
        </div>
        <div class="component-container justify-content-center">
            <app-comp1></app-comp1>
            <app-comp2></app-comp2>
        </div>
    </div>
    <br><br><br>
    <!-- veiw encapsulation start-->

    <!-- @viewchild start-->
    <div>
        <label>DOB: </label>
        <input type="date" #dobInput (blur)="calculateAge()">
    </div>
    <div>
        <label>Age: </label>
        <input type="text" #ageInput >
    </div>

    <app-demmo></app-demmo>
    {{ demmoComp.sayyHello() }}
    <!-- @viewchild end-->


    <app-demo></app-demo>
    <!-- local reference variable : a variabla that stores a reference on dom element or compenet or directive on witch we have used it-->
    <app-customer-list #customer></app-customer-list>
    <p>Youhave selected {{ customer.selectedCustomer?.name }}</p>
    <app-container></app-container>
</div>